<% layout("/layout/boilerplate") %>
    <div class="row">
        <div class="col-10 offset-1 col-sm-4 offset-sm-4 ">
            <div class="card shadow mt-3 mb-3">
                <img src="https://th.bing.com/th/id/OIP.NZ0Fgoa8cAcgOIdmtZvcgwHaEK?rs=1&pid=ImgDetMain"
                    class="thumnail card-img-top" alt="">
                <div class="card-body">
                    <h1>Register!</h1>
                    <form action="/register" method="post" class="validated-form" novalidate>
                        <div>
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" type="text" id="email" name="email" required>
                        </div>
                        <div>
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" required>
                        </div>
                        <div>
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="text" id="password" name="password" required>
                        </div>
                        <button class="btn btn-success mt-2 w-100">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>